/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left
*/



body {
  padding: 30px;
  background: black;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(3, 1, 98));
  color: rgb(184, 184, 184);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-title {
  font-size: 4em;
  text-align: center;
  text-justify: center;
  color: green;
}

h2 {
  font-size: 2em;
  color: #bdbdbd;
  text-align:center;
  margin-bottom: -10px;
  font-family:'Courier New', Courier, monospace;
  font-weight:bolder;
}

img {
  border-width: 2px;
  border-style: solid;
  border-color: gray;
}

.section {
  font-size: 1.5em;
  color: white;
  margin: 20px;
  border-width: 2px;
  border-radius: 40px;
  border-color: rgb(31, 31, 31);
  border-style: solid;
  padding-left: 5%;
  padding-right: 5%;
  background: rgb(26, 26, 26, .4);
}

#pslo {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:#1ea6c6;
}


#courses > ul {
  position: relative;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #1ea6c6;
  left: 20px;
  margin: 20px;
  margin-left: 20%;
}



#courses > ul > li > ul {
  font-weight:lighter;
  position: relative;
  right: 10px;
  color: green;
}


.box {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}



.nested {
  display: none;
}

.active {
  display: block;
}

#faculty {
  font-style: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#faculty > ul > li {
  flex-direction: column;
  display: inline-block;
  padding: 15px;
}

#faculty-list {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap; /* This tell's the flex items to wrap if there
                      isn't enough space for all of the items. Without this the
                      faculty images will be in a row and only resize well unitl around
                      550px width of screen. */
  justify-content: center;
  align-content: center;
}

#tools ul {
  list-style-image:none;
}

#tools-list li.ide {
  list-style-image: url("../assets/images/ide.svg")
}

#tools-list li.version-control {
  list-style-image: url("../assets/images/icons8-git-squared.svg");

}

#tools-list li.testing {
  list-style-image: url("../assets/images/debug.png");
}


#tools-list li.cloud::after{
  content:url("../assets/images/cloud-pngrepo-com.png");
}


#tools-list li.local::after{
  content:url("../assets/images/folder.svg");
}
#tools-list a {
  color: rgb(0, 153, 0);
}

.card {
  font-family: "Myriad Web", "Myriad Pro", "Gill Sans", Helvetica, Arial, Sans-Serif;
  background-color: rgb(26, 26, 26, .4);
  min-width:100%;
  margin: 0px;
  text-align: center;
  border-radius: 40px;
  border-color: black;
  border-style: dashed;
  border-bottom-style: hidden;
  border-width: 2px;
  width: 200%;
}

.card ul {
  list-style-type: none;
}
.card p {
  font-size: 1em;
  color: white;
}
.card a{
  color: green;
}






