/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left
*/

body {
  padding-left:15%;
  background: black;
  color: rgb(184, 184, 184);
  position:flex;
  align-items: center;
  text-align:left;
  max-width: 80%;

}

#main-title {
  font-size: 4em;
  text-align: center;
  text-justify: center;
  max-width: 80%
}

h2 {
  font-size: 2.5em;
}

div{
  justify-content: center;
  text-align:left;
  align-items: center;
  position:flex;
 }



.section {
  font-size: 1.5em;
  border-width: 4px;
  border-color: rgb(147, 4, 190);
  border-style: solid;
  position:flex;
  max-width: 80%;
  padding-left: 5%;
  background: rgb(26, 26, 26);

}
